* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
}

#error-message {
    display: none;
    margin: 5px;
    color: red;
}

#search-location {
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    align-items: center;
}

#location-input {
    padding: 10px;
    border: none;
    border-radius: 2%;
    outline: none;
    width: 200px;
}

main {
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#weather-details {
    margin: 10px;
    display: grid;
    grid-template-areas: 
        'location location'
        'temp details';
}

#location-name {
    font-size: 3em;
    grid-area: location;
}

#temperature-grid {
    grid-area: temp;
    text-align: right;
    padding-right: 25px;
    border-right: 1px solid black;
}

#temperature {
    font-size: 6em;
}

#details-grid {
    text-align: left;
    grid-area: details;
    border-left: 1px solid black;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#weather-info {
    margin: 10px;
}

.flex-items {
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
}